*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.to-do-app h2{
    color: #002575;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-app h2 img{
    width: 30px;
    margin-left: 10px;
}